aws_profile = "<profile>"
owner = "<your_name>"
project = "<project_name>"
key_name = "<keypair>"
aws_region = "us-east-1"
aws_azs = ["us-east-1a", "us-east-1b", "us-east-1c"]
vpc_cidr_blocks = ["172.32.0.0/16"]
subnets_cidr_blocks = ["172.32.0.0/24", "172.32.1.0/24", "172.32.2.0/24"]
